    #top
    {
        background-color:#f2f4fd;
        height:150px;
        width:auto;
    }
    .mono
    {
        height:auto;
        width:auto;
    }
    .heading
    {
        float:right;
    }
    #footer
    {
        height:30px;
        width:auto;
        background-color:#f2f4fd;
    }